  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>О нас</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>Proin fermentum ut, sollicitudin rutrum magna cum hymenaeos lacinia consequat. Donec dolor elit nulla duis vel per libero facilisi imperdiet sed ullamcorper duis consectetuer fringilla, porta. Magna. Mollis sed montes.</p>
        </div>
        <div class="col-lg-4">
          <p>Purus dolor nonummy natoque integer. Lorem, euismod, curabitur ullamcorper urna sapien. Vulputate vulputate sed lorem congue gravida gravida mauris semper luctus quisque vestibulum sapien vitae nam cursus vulputate viverra vivamus.</p>
        </div>
      </div>
    </div>
  </section>
